/* Nav.css */

.navDiv {
  display: flex;
  align-items: center;
  padding: 0 16px; /* Add padding to the left and right as needed */
  height: 100%; /* Make sure the nav takes the full height of the Header */
}

.logo {
  height: auto;
}
